/* Apply a background image to the AnchorPane */
.anchor-pane {
    -fx-background-image: url("../images/bgimage.png");
    -fx-background-size: contain; /* Scale image to fit within the pane */
    -fx-background-repeat: no-repeat; /* Do not repeat the image */
}

/* Style for the Button */
.button {
    -fx-background-color: #ffcc00;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 24px; /* Font size */
    -fx-padding: 10px 20px; /* Padding around the text */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded border corners */
    -fx-border-width: 2px; /* Border width */
}

.button:hover {
    -fx-background-color: derive(#ffcc00,50%);
    -fx-cursor: hand;
}

/* Style for the Text */
#catchthedisc {
    -fx-fill: #ffffff; /* White text color */
    -fx-font-size: 24px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-text-alignment: center; /* Center align text */
    -fx-stroke-width: 1px; /* Stroke width */
    -fx-stroke: #000000; /* Stroke color */
}

#start, #leaderboard, #quit {
    -fx-fill: #000000; /* Black text color */
    -fx-font-size: 15px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-text-alignment: center; /* Center align text */
    -fx-stroke-width: 1px; /* Stroke width */
    -fx-stroke: #000000; /* Stroke color */
}
